In [2]:
course = {"title":"Python Collections"}
course

{'title': 'Python Collections'}

In [3]:
course['title']

'Python Collections'

In [6]:
dict([['name', 'Kenneth'], ['surname','Ben']])

{'name': 'Kenneth', 'surname': 'Ben'}

In [9]:
course = {'title':'Python collections', 'teacher': {'first_name':'Kenneth','last name':'Love'}}

In [11]:
course['teacher']['first_name']

'Kenneth'

In [15]:
yerlan = {'job':'pythonist','from':'Petropavl'}

In [16]:
yerlan['where'] = 'Astana'
# adding or updating information

In [17]:
yerlan

{'job': 'pythonist', 'from': 'Petropavl', 'where': 'Astana'}

In [18]:
yerlan.update({'job':'data engineer','hobby':'marathon running','music':'calm'})
# UPDATE function

In [19]:
yerlan

{'job': 'data engineer',
 'from': 'Petropavl',
 'where': 'Astana',
 'hobby': 'marathon running',
 'music': 'calm'}

In [20]:
del yerlan['music']

In [21]:
yerlan

{'job': 'data engineer',
 'from': 'Petropavl',
 'where': 'Astana',
 'hobby': 'marathon running'}

In [22]:
test_dict = {"a": 1, "b": 2, "a": 3}
test_dict["a"]
#It'll be 3 because the keys are created in order. First it's 1 and then the 3 is assigned later.

3

# Packing and Unpacking dictionaries

In [2]:
def packer(name=None,**kwargs):
    print(kwargs)
# kwargs ==> keyword arguments
# PACKING INTO DICTIONARIES
packer(name = "Yerlan", num = 42, spanish_inquisition = None)

{'num': 42, 'spanish_inquisition': None}

In [5]:
def packer(**kwargs):
    print(kwargs)
# kwargs ==> keyword arguments
# PACKING INTO DICTIONARIES
packer(name = "Yerlan", num = 42, spanish_inquisition = None)

{'name': 'Yerlan', 'num': 42, 'spanish_inquisition': None}

In [6]:
def packer(a,**kwargs):
    print(a,kwargs)
# kwargs ==> keyword arguments
# PACKING INTO DICTIONARIES
packer(3,name = "Yerlan", num = 42, spanish_inquisition = None)

3 {'name': 'Yerlan', 'num': 42, 'spanish_inquisition': None}

In [7]:
def unpacker(first_name = None,last_name = None):
    if first_name and last_name:
        print("Hi {} {}!".format(first_name,last_name))
    else:
        print("No name")

In [8]:
unpacker(**{'last_name':'Love','first_name':'Kenneth'})

Hi Kenneth Love!

In [9]:
"Hi, I'm {name} and I love to eat {food}!".format(name="Kenneth", food="tacos")

"Hi, I'm Kenneth and I love to eat tacos!"

# Dictionary Iteration

In [10]:
course_minutes = {"Python Basics":232,"Django Basics":256,"Flask Basics":183,"Java Basics":256}

In [11]:
for course in course_minutes:
    print(course)
## output is KEYS

Python Basics
Django Basics
Flask Basics
Java Basics

In [13]:
for course in course_minutes:
    print(course_minutes[course])
# output is VALUES

232
256
183
256

In [14]:
for keys in course_minutes.keys():
    print(keys)

Python Basics
Django Basics
Flask Basics
Java Basics

In [15]:
for values in course_minutes.values():
    print(values)

232
256
183
256

In [16]:
for item in course_minutes.items():
    print(item)

('Python Basics', 232)
('Django Basics', 256)
('Flask Basics', 183)
('Java Basics', 256)

In [17]:
def favorite_food(dict):
    return "Hi, I'm {name} and I love to eat {food}!".format()

# Word count exercise

In [73]:
some_words = "Hello people I like like you you so much"
def word_count(words):
    keys = words.lower().split()
    dict_values = []
    position = 0
    for key in keys:
        values = keys.count(keys[position])
        position = position + 1
        dict_values.append(values)
    dictionary = dict(zip(keys, dict_values))
    print(dictionary)

In [44]:
# E.g. word_count("I do not like it Sam I Am") gets back a dictionary like:
# {'i': 2, 'do': 1, 'it': 1, 'sam': 1, 'like': 1, 'not': 1, 'am': 1}
# Lowercase the string to make it easier.a

['hello', 'people', 'i', 'like', 'like', 'you']

In [74]:
word_count(some_words)

{'hello': 1, 'people': 1, 'i': 1, 'like': 2, 'you': 2, 'so': 1, 'much': 1}

In [61]:
dict_values = []

In [62]:
position = 0
for key in keys:
    values = keys.count(keys[position])
    position = position + 1
    dict_values.append(values)
print(dict_values)

[1, 1, 1, 2, 2, 1]

In [63]:
#>>> values = [1, 2, 3]
dictionary = dict(zip(keys, dict_values))
print(dictionary)
#{'a': 1, 'b': 2, 'c': 3}

{'hello': 1, 'people': 1, 'i': 1, 'like': 2, 'you': 1}

In [32]:
[1, 2, 3, 4, 1, 4, 1,1].count(1)

4

# Teacher Stats

In [21]:
# The dictionary will look something like:
# {'Andrew Chalkley': ['jQuery Basics', 'Node.js Basics'],
#  'Kenneth Love': ['Python Basics', 'Python Collections']}
#
# Each key will be a Teacher and the value will be a list of courses.
#
# Your code goes below here.
teacher_courses = {'Andrew Chalkley': ['jQuery Basics', 'Node.js Basics'],
                   'Kenneth Love': ['Python Basics', 'Python Collections'],
                   'Jake Mon':['GIT','Console','Python']
                  }

In [22]:
def num_teachers(teacher_and_courses):
    teachers = []
    for keys in teacher_and_courses.keys():
        teachers.append(keys)
    print(len(teachers))

In [23]:
num_teachers(teacher_courses)

3

In [24]:
def num_courses(number_courses):
    courses = []
    for coursess in number_courses.values():
        for course in coursess:
            courses.append(course)
    return len(courses)

In [25]:
num_courses(teacher_courses)

7

In [26]:
def courses(list_courses):
    courses = []
    for coursess in list_courses.values():
        for course in coursess:
            courses.append(course)
    return courses

In [27]:
courses(teacher_courses)

['jQuery Basics',
 'Node.js Basics',
 'Python Basics',
 'Python Collections',
 'GIT',
 'Console',
 'Python']

In [18]:
teacher_courses = {'Andrew Chalkley': ['jQuery Basics', 'Node.js Basics'],
                   'Kenneth Love': ['Python Basics', 'Python Collections'],
                   'Jake Mon':['GIT','Console','Python']
                  }

In [49]:
co = []
for courses in teacher_courses.values():
    co.append(int(len(courses)))
print(max(co))

3

In [56]:
teachers_list = []
for teachers in teacher_courses.keys():
    teachers_list.append(teachers)
print(teachers_list)

['Andrew Chalkley', 'Kenneth Love', 'Jake Mon']

In [54]:
print(co)

[2, 2, 3]

In [57]:
dictionary = dict(zip(teachers_list, co))
print(dictionary)

{'Andrew Chalkley': 2, 'Kenneth Love': 2, 'Jake Mon': 3}

In [62]:
def most_courses(teacher_courses):
    co = []
    for courses in teacher_courses.values():
        co.append(int(len(courses)))
    teachers_list = []
    for teachers in teacher_courses.keys():
        teachers_list.append(teachers)
    dictionary = dict(zip(teachers_list, co)) 
        
    v=list(dictionary.values())
    k=list(dictionary.keys())
    return k[v.index(max(v))]

In [63]:
most_courses(teacher_courses)

'Jake Mon'

In [64]:
v=list(dictionary.values())

In [65]:
print(v)

[2, 2, 3]

In [78]:
print(new_list)

[('Andrew Chalkley', 2), ('Kenneth Love', 2), ('Jake Mon', 3)]

In [79]:
map(list, dictionary.items())

In [84]:
neww_list = []

for item in dictionary.items():
    neww_list.append(item)

In [85]:
neww_list

[('Andrew Chalkley', 2), ('Kenneth Love', 2), ('Jake Mon', 3)]

In [86]:
co

[2, 2, 3]

In [87]:
teachers_list

['Andrew Chalkley', 'Kenneth Love', 'Jake Mon']

In [92]:
newww_list = []
for each in list(zip(teachers_list, co)):
    l = list(each)
    newww_list.append(l)

In [93]:
newww_list

[['Andrew Chalkley', 2], ['Kenneth Love', 2], ['Jake Mon', 3]]

In [94]:
def stats(teacher_courses):
    v=list(dictionary.values())
    k=list(dictionary.keys())
    newww_list = []
    for each in list(zip(k, v)):
        l = list(each)
        newww_list.append(l)
    return(newww_list)

In [95]:
stats(teacher_courses)

[['Andrew Chalkley', 2], ['Kenneth Love', 2], ['Jake Mon', 3]]