In [1]:
import random

foo = ['a', 'b', 'c', 'd', 'e']
print(random.choice(foo))

b

In [34]:
experience_yes = [['Joe Smith', 'YES', 'Jim and Jan Smith'],
['Jill Tanner', 'YES', 'Clara Tanner'],
['Bill Bon', 'YES', 'Sara and Jenny Bon'],
['Karl Saygan', 'YES', 'Heather Bledsoe'],
['Suzane Greenberg', 'YES', 'Henrietta Dumas'],
['Diego Soto', 'YES', 'Robin and Sarika Soto'],
['Phillip Helm', 'YES', 'Thomas Helm and Eva Jones'],
['Les Clay', 'YES', 'Wynonna Brown'],
['Herschel Krustofski', 'YES', 'Hyman and Rachel Krustofski']]

experience_no = [['Eva Gordon', 'NO', 'Wendy and Mike Gordon'],
['Matt Gill', 'NO', 'Charles and Sylvia Gill'],
['Kimmy Stein', 'NO', 'Bill and Hillary Stein'],
['Sammy Adams', 'NO', 'Jeff Adams'],
['Sal Dali', 'NO', 'Gala Dali'],
['Joe Kavalier', 'NO', 'Sam and Elaine Kavalier'],
['Ben Finkelstein', 'NO', 'Aaron and Jill Finkelstein'],
['Chloe Alaska', 'NO', 'David and Jamie Alaska'],
['Arnold Willis', 'NO', 'Claire Willis']]

group1 = []
group2 = []
group3 = []

In [4]:
group1.append(random.choice(experience_yes))

In [5]:
group1

[['Bill Bon', 'YES', 'Sara and Jenny Bon']]

In [12]:
import random 
    
def random_partition (list_in, n):
    random.shuffle(list_in)
    return [list_in[i::n] for i in range(n)]

In [13]:
lst = [1,3,4,5,6,7,8,6,9]

def partition(lst, n):
    division = len(lst) / n
    return [lst[round(division * i):round(division * (i + 1))] for i in range(n)]

In [14]:
partition(lst,3)

[[1, 3, 4], [5, 6, 7], [8, 6, 9]]

In [25]:
partition(experience_no,3)

[[['Kimmy Stein', 'NO', 'Bill and Hillary Stein'],
  ['Sammy Adams', 'NO', 'Jeff Adams'],
  ['Arnold Willis', 'NO', 'Claire Willis']],
 [['Sal Dali', 'NO', 'Gala Dali'],
  ['Ben Finkelstein', 'NO', 'Aaron and Jill Finkelstein'],
  ['Chloe Alaska', 'NO', 'David and Jamie Alaska']],
 [['Joe Kavalier', 'NO', 'Sam and Elaine Kavalier'],
  ['Matt Gill', 'NO', 'Charles and Sylvia Gill'],
  ['Eva Gordon', 'NO', 'Wendy and Mike Gordon']]]

In [32]:
x = partition(experience_yes,3)

In [40]:
group1 = []
group1.append(partition(experience_no,3)[0])
group1.append(partition(experience_yes,3)[0])
group1

[[['Eva Gordon', 'NO', 'Wendy and Mike Gordon'],
  ['Matt Gill', 'NO', 'Charles and Sylvia Gill'],
  ['Kimmy Stein', 'NO', 'Bill and Hillary Stein']],
 [['Joe Smith', 'YES', 'Jim and Jan Smith'],
  ['Jill Tanner', 'YES', 'Clara Tanner'],
  ['Bill Bon', 'YES', 'Sara and Jenny Bon']]]

In [41]:
group2 = []
group2.append(partition(experience_no,3)[1])
group2.append(partition(experience_yes,3)[1])
group2

[[['Sammy Adams', 'NO', 'Jeff Adams'],
  ['Sal Dali', 'NO', 'Gala Dali'],
  ['Joe Kavalier', 'NO', 'Sam and Elaine Kavalier']],
 [['Karl Saygan', 'YES', 'Heather Bledsoe'],
  ['Suzane Greenberg', 'YES', 'Henrietta Dumas'],
  ['Diego Soto', 'YES', 'Robin and Sarika Soto']]]

In [42]:
group3 = []
group3.append(partition(experience_no,3)[2])
group3.append(partition(experience_yes,3)[2])
group3

[[['Ben Finkelstein', 'NO', 'Aaron and Jill Finkelstein'],
  ['Chloe Alaska', 'NO', 'David and Jamie Alaska'],
  ['Arnold Willis', 'NO', 'Claire Willis']],
 [['Phillip Helm', 'YES', 'Thomas Helm and Eva Jones'],
  ['Les Clay', 'YES', 'Wynonna Brown'],
  ['Herschel Krustofski', 'YES', 'Hyman and Rachel Krustofski']]]

In [48]:
group1[1][2][0]

'Bill Bon'

In [49]:
list1 = ['1', '2', '3']
str1 = ''.join(list1)

In [50]:
str1

'123'

In [51]:
mylist = ['spam', 'ham', 'eggs']
print(', '.join(mylist))

spam, ham, eggs