In [1]:
# each item is unique
# no indexes
# no order
# mutable like list
set([1,3,5])

{1, 3, 5}

In [2]:
{1,3,5}

{1, 3, 5}

In [3]:
type({})

dict

In [4]:
type(set())

set

In [5]:
low_primes = {1,3,5,7,9,11}

In [6]:
low_primes.add(17)

In [7]:
low_primes

{1, 3, 5, 7, 9, 11, 17}

In [8]:
low_primes.update({2,34},{4,65})

In [9]:
low_primes

{1, 2, 3, 4, 5, 7, 9, 11, 17, 34, 65}

In [10]:
low_primes.remove(65)

In [11]:
low_primes.remove(100)

KeyError: 100

In [12]:
low_primes.discard(100)
# if there is no 100 in the set, it just discards

In [13]:
while low_primes:
    print(low_primes.pop()/3)

0.3333333333333333
0.6666666666666666
1.0
11.333333333333334
1.6666666666666667
2.3333333333333335
1.3333333333333333
3.0
3.6666666666666665
5.666666666666667

In [18]:
low_primes

set()

In [19]:
low_primes = {1,4,6,6,7,9}

In [20]:
low_primes.pop()

1

In [21]:
low_primes

{4, 6, 7, 9}

In [26]:
for i in range(5):
    print(i)

0
1
2
3
4

In [27]:
set1 = set(range(10))
set2 = {1,3,5,7,11,13,17,23}

In [29]:
set1.union(set2)
# using UPDATE would give the same result, but CHANGES set1
# UNION does NOT CHANGES a set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 17, 23}

In [30]:
set1 | set2
#union

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 17, 23}

In [31]:
set1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
set1.difference(set2)

{0, 2, 4, 6, 8, 9}

In [34]:
set2.difference(set1)

{11, 13, 17, 23}

In [35]:
set1 - set2
#difference

{0, 2, 4, 6, 8, 9}

In [36]:
# symmetric difference - unique to each side
set1 ^ set2

{0, 2, 4, 6, 8, 9, 11, 13, 17, 23}

In [37]:
set2.symmetric_difference(set1)

{0, 2, 4, 6, 8, 9, 11, 13, 17, 23}

In [38]:
set1.intersection(set2)

{1, 3, 5, 7}

In [39]:
set1 & set2
#intersection

{1, 3, 5, 7}

In [1]:
courses = {
    "Python Basics": {"Python", "functions", "variables",
                      "booleans", "integers", "floats",
                      "arrays", "strings", "exceptions",
                      "conditions", "input", "loops"},
    "Java Basics": {"Java", "strings", "variables",
                    "input", "exceptions", "integers",
                    "booleans", "loops"},
    "PHP Basics": {"PHP", "variables", "conditions",
                   "integers", "floats", "strings",
                   "booleans", "HTML"},
    "Ruby Basics": {"Ruby", "strings", "floats",
                    "integers", "conditions",
                    "functions", "input"}
}
#  covers({"Python"}) would return ["Python Basics"].

In [59]:
def covers(topics):
    new_l = []
    for key, value in courses.items():
        if value & topics:
            new_l.append(key)
    return new_l
covers({'strings'})

['Python Basics', 'Java Basics', 'PHP Basics', 'Ruby Basics']

In [61]:
for key,value in courses.items():
    print(key)
    print(value)

Python Basics
{'integers', 'conditions', 'variables', 'booleans', 'loops', 'arrays', 'exceptions', 'input', 'Python', 'strings', 'floats', 'functions'}
Java Basics
{'Java', 'integers', 'variables', 'booleans', 'loops', 'exceptions', 'input', 'strings'}
PHP Basics
{'HTML', 'integers', 'conditions', 'variables', 'booleans', 'PHP', 'strings', 'floats'}
Ruby Basics
{'Ruby', 'conditions', 'integers', 'floats', 'input', 'strings', 'functions'}

In [70]:
def covers(topics):
    new_l = []
    for key, value in courses.items():
        if topics.issubset(value):
            new_l.append(key)
    return new_l
covers({'Ruby',"input"})

['Ruby Basics']