In [9]:
my_tuple = (1,2,3)

In [10]:
my_tuple

(1, 2, 3)

In [3]:
second_tuple = 1,3,4
second_tuple
# COMMAS make tuple, not brackets

(1, 3, 4)

In [4]:
third_tuple = (5)
third_tuple

5

In [5]:
third_tuple = (5,)
third_tuple

(5,)

In [6]:
fourth_tuple = tuple([3,5,6])
fourth_tuple

(3, 5, 6)

In [11]:
my_tuple[0] = 0

#IMMUTALBE

TypeError: 'tuple' object does not support item assignment

In [13]:
fifth_tuple = (1,"tuple",[4,6,8])
fifth_tuple[2][1] = 7

In [14]:
fifth_tuple

(1, 'tuple', [4, 7, 8])

In [15]:
a = 5
b = 20
a,b = b,a

In [16]:
a

20

In [17]:
b

5

In [18]:
a=5
b=20
c = b,a

In [19]:
c

(20, 5)

In [20]:
def add(*nums):
    total = 0
    for num in nums:
        total += num
    return total
add(5,5)

10

In [21]:
add(32)

32

In [22]:
add(3,5,7)

15

In [23]:
def add(base,*args):
    total = base
    for num in args:
        total +=num
    return total
add(5,20)

25

In [25]:
add(5,4,6)

15

In [26]:
def multiply(*nums):
    total = 1
    for num in nums:
        total = total * num
    return total
multiply(4,6)

24

# Multiple return values

In [27]:
course_minutes = {'Python Basics':232,"Django Basics":255,"Flask Basics":185,"Java Basics":178}

In [28]:
for course,minutes in course_minutes.items():
    print("{} is {} minutes long".format(course,minutes))

Python Basics is 232 minutes long
Django Basics is 255 minutes long
Flask Basics is 185 minutes long
Java Basics is 178 minutes long

In [29]:
list(enumerate("abc"))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [33]:
list(enumerate(['f','h','r','y']))

[(0, 'f'), (1, 'h'), (2, 'r'), (3, 'y')]

In [35]:
for index,letter in enumerate("abchdsfjfije"):
    print("{}: {}".format(index+1,letter))

1: a
2: b
3: c
4: h
5: d
6: s
7: f
8: j
9: f
10: i
11: j
12: e

In [42]:
a = 'dfgfd'
a.upper()

'DFGFD'

In [45]:
def stringcases(a):
    my_list = []
    b = a.upper()
    c = a.lower()
    d = a.title()
    e = a[::-1]
    my_list.append(b)
    my_list.append(c)
    my_list.append(d)
    my_list.append(e)
    return tuple(my_list)

In [46]:
stringcases(a)

('DFGFD', 'dfgfd', 'Dfgfd', 'dfgfd')

In [47]:
#combo([1, 2, 3], 'abc')
# Output:
# [(1, 'a'), (2, 'b'), (3, 'c')]

In [68]:
b = 'abc'
d = list(b)
d

['a', 'b', 'c']

In [69]:
c = [1,2,3]
c

[1, 2, 3]

In [79]:
list_a = [1, 2, 3, 4]

list_b = [5, 6, 7, 8]

list_c=[(list_a[i],list_b[i]) for i in range(0,len(list_a))]
list_c

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [59]:
newww_list = []
for each in list(zip(c, d)):
    l = list(each)
    t = tuple(l)
    newww_list.append(t)

In [65]:
print(zip(c,d))

<zip object at 0x111c3e548>

In [61]:


def combo(c,b):
    d = list(b)
    newww_list = []
    for each in list(zip(c, d)):
        l = list(each)
        t = tuple(l)
        newww_list.append(t)
    return newww_list

In [62]:
combo(c,b)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [83]:
b = 'abc'
d = list(b)
c = [1,2,3]
def combo(c,b):
    d = list(b)
    list_c=[(c[i],d[i]) for i in range(0,len(d))]
    return list_c

In [84]:
combo(c,b)

[(1, 'a'), (2, 'b'), (3, 'c')]